doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Login In
    link(rel='stylesheet', href='/css/normalize.min.css')
    link(rel='stylesheet', href='css/login.css')
  body
    form(action='/login', method='post')
      h1 Login
      fieldset
        label User
        select(name='username')
          option(value='CSE') CSE
          option(value='ECE') ECE
          option(value='CHE') CHE
          option(value='BTC') BTC
          option(value='MEC') MEC
          option(value='HOQ') HOQ
        label Password
        input#password(type='password', name='userpass')
      button(type='submit') Log in
