doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title IQAC Form(Criterion – VII & VIII)
    link(rel='stylesheet', href='../css/normalize.min.css')
    link(rel='stylesheet', href='../css/form.css')
  body
    .top-cont
      .top-line
        div(style='float: right')
          button#back(type='button') BACK
        div(style='float: left')
          button(type='submit') SAVE
    .bot-cont
      form(action='index.html', method='post')
        h1 Criterion – VII & VIII
        fieldset
          legend
            span.number 7
            | Innovations and Best Practices
          // TO BE FILLED BY HOQ
          label
            | 7.1 Innovations introduced during this academic year which have created a positive impact on the functioning of the institution. Give details:
          input(type='text', name='r1c3', value='')
          label
            | 7.2 Provide the Action Taken Report (ATR) based on the plan of action decided upon at the beginning of the year:
          input(type='text', name='r1c3', value='')
          label
            | 7.3 Give two Best Practices of the institution (please see the format in the NAAC Self-study Manuals):
          input(type='text', name='r1c3', value='')
          label 7.4 Contribution to environmental awareness/protection:
          input(type='text', name='r1c3', value='')
          label 7.5 Whether environmental audit was conducted?:
          input(type='radio', name='rwv', value='')
          | Yes
          input(type='radio', name='rwv', value='')
          | No
          label
            | 7.6 Any other relevant information the institution wishes to add.(for example SWOT Analysis):
          input(type='text', name='r1c3', value='')
          legend
            span.number 8
            | Plans of institution for next year
          label Plan Details:
          input(type='text', name='r1c3', value='')
