doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title IQAC Form(Part-A)
    link(rel='stylesheet', href='../css/normalize.min.css')
    link(rel='stylesheet', href='../css/form.css')
  body
    .top-cont
      .top-line
        div(style='float: right')
          button#back(type='button') BACK
        div(style='float: left')
          button(type='submit') SAVE
    .bot-cont
      form(action='index.html', method='post')
        h1 PART A
        h2
          span.number 2
          | IQAC Composition and Activities
        fieldset
          label 2.1 No. of Teachers:
          input(type='number', name='r1c3', value='')
          label 2.2 No. of Administrative/Technical staff:
          input(type='number', name='r1c3', value='')
          label 2.3 No. of students:
          input(type='number', name='r1c3', value='')
          label 2.4 No. of Management representatives:
          input(type='number', name='r1c3', value='')
          br
          label 2.5 No. of Alumni:
          input(type='number', name='r1c3', value='')
          br
          label 2.6 No. of any other stakeholder and community representatives:
          input(type='number', name='r1c3', value='')
          br
          label 2.7 No. of Employers/ Industrialists:
          input(type='number', name='r1c3', value='')
          br
          label 2.8 No. of other External Experts:
          input(type='number', name='r1c3', value='')
          br
          label 2.9 Total No. of members:
          input(type='number', name='r1c3', value='')
          br
          label 2.10 No. of IQAC meetings held:
          input(type='number', name='r1c3', value='')
          br
          label 2.11 No. of meetings with various stakeholders:
          table(style='width:100%')
            tr
              th No. of faculty
              td
                input(type='number', name='r5c6', value='')
            tr
              th Non-Teaching Staff Students
              td
                input(type='number', name='r5c6', value='')
            tr
              th Alumni
              td
                input(type='number', name='r5c6', value='')
            tr
              th Others
              td
                input(type='number', name='r5c6', value='')
          label 2.12 Has IQAC received any funding from UGC during the year?
          input(type='radio', name='yes', value='')
          | YES
          input(type='radio', name='no', value='')
          | NO
          label If yes, mention the amount:
          input(type='number', name='r1c3', value='')
          br
          label 2.13 Seminars and Conferences (only quality related)
          label i) No. of Seminars/Conferences/ Workshops/Symposia organized by the IQAC:
          table(style='width:100%')
            tr
              th International
              td
                input(type='number', name='r5c6', value='')
            tr
              th National
              td
                input(type='number', name='r5c6', value='')
            tr
              th State
              td
                input(type='number', name='r5c6', value='')
            tr
              th Institution
              td
                input(type='number', name='r5c6', value='')
            tr
              th Total No.
              td
                input(type='number', name='r5c6', value='')
          label ii) Themes:
          input(type='string', name='r1c3', value='')
          br
          label 2.14 Significant Activities and contributions made by IQAC:
          input(type='text', name='r1c3', value='')
          label 2.15 Plan of Action by IQAC/Outcome:
          label2
            | The plan of action chalked out by the IQAC in the beginning of the year towards quality enhancement and the outcome achieved by the end of the year *
          table(width='100%')
            tr
              th Plan of Action
              th Achievements
            tr
              td
                input(type='text', name='r5c6', value='')
              td
                input(type='text', name='r5c7', value='')
          label 2.15 Whether the AQAR was placed in statutory body:
          input(type='radio', name='state', value='')
          | Yes
          input(type='radio', name='Central', value='')
          | No
          input(type='radio', name='deemed', value='')
          | Management
          input(type='radio', name='Private', value='')
          | Syndicate
          input(type='radio', name='Central', value='')
          | Any other body
          label Provide the details of the action taken:
          input(type='text', name='r5c8', value='')
