doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title IQAC Form
		link(rel='stylesheet', href='/css/normalize.min.css')
		link(rel='stylesheet', href='/css/form.css')
	body
		a(href='/login') Logout
		if (cookies.user.username == 'HOQ')
			br
			a(href='/form/admin') Back
		form(action='/form/admin/hform', method='POST')
			h1 Criterion – II
			label 2.6 Innovative processes adopted by the institution in Teaching and Learning:
				input(type='text', name='r6c1', value=form.innovative_process_adopted)
			label 2.12 How does IQAC Contribute/Monitor/Evaluate the Teaching & Learning processes:
				input(type='text', name='r12c1', value=form.iqac_contribution)
			button(type='submit') SAVE