doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title Login In
		link(rel='stylesheet', href='/css/normalize.min.css')
		link(rel='stylesheet', href='/css/login.css')
	body
		form(action='/form/admin', method='post')
			h1 Admin
			fieldset
				label Department
				select(name='username')
					option(value='CSE') CSE
					option(value='ECE') ECE
					option(value='CHE') CHE
					option(value='BTC') BTC
					option(value='MEC') MEC
				br
				input(type='radio', name='action', value='view') 
				| View
				hr
				input(type='radio', name='action', value='gen')
				| Generate report as PDF
			button(type='submit') Go
