html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Dashboard
		link(rel="stylesheet" href="css/dashboard.css")
		link(rel="stylesheet" href="css/normalize.min.css")
		link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet")
	body
		.top-contain
			.top-line
				if cookies.user.username == 'HOQ'
					.dept-sel
						.select_style
							select(name="username")
								option(value="NULL") Pick Department
								option(value="CSE") CSE
								option(value="ECE") ECE
								option(value="CHE") CHE
								option(value="BTC") BTC
								option(value="MEC") MEC
								option(value="HOQ") HOQ
					.rpt-fin
						#gen.btn.btn--border.btn--primary.btn--animated Generate Report
				h1.top-header DASHBOARD - #{cookies.department}
		.bot-contain
			.bot-left
				h2(align="center") PART - A
				.button-container-2
					span.mas Criterion-1
					button(type="button" name="Hover") 
						a(href='/form/details') Criterion-1
				.button-container-2
					span.mas Criterion-2
					button(type="button" name="Hover") 
						a(href='/form/iqac') Criterion-2
			.bot-cen
			.bot-right
				h2(align="center") PART - B
				.button-container-2
					span.mas Criterion-1
					button(type="button" name="Hover") 
						a(href='/form/criterion1') Criterion-1
				.button-container-2
					span.mas Criterion-2
					button(type="button" name="Hover") 
						a(href='/form/criterion2') Criterion-2
				.button-container-2
					span.mas Criterion-3
					button(type="button" name="Hover") 
						a(href='/form/criterion3') Criterion-3
				.button-container-2
					span.mas Criterion-4
					button(type="button" name="Hover") 
						a(href='/form/criterion4') Criterion-4
				.button-container-2
					span.mas Criterion-5
					button(type="button" name="Hover") 
						a(href='/form/criterion5') Criterion-5
				.button-container-2
					span.mas Criterion-6
					button(type="button" name="Hover") 
						a(href='/form/criterion6') Criterion-6
				.button-container-2
					span.mas Criterion-7
					button(type="button" name="Hover") 
						a(href='/form/criterion7') Criterion-7
				.button-container-2
					span.mas Criterion-8
					button(type="button" name="Hover") 
						a(href='/form/criterion8') Criterion-8
