html(lang="en")
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Dashboard
		script(src='/jquery/jquery.min.js')
		link(rel='stylesheet', href='css/dashboard.css')
		link(rel='stylesheet', href='css/bootstrap.css')
	body
		.container-fluid.h-100
			nav.navbar.navbar-light(style='background-color: #e3f2fd;')
				span.navbar-brand.mb-0.h1 IQAC Dashboard - #{cookies.user.username}
				a.navbar-brand(href='/home') Logout
			.row.my-4
				.col
					if cookies.user.username == 'HOQ'
						.card.w-50.mx-auto
							.card-body
								h5.card-title HOQ Options
								ul.list-group.list-group-flush
									li.list-group-item.text-center
										a.btn.btn-primary.mr-3(href='/dashboard/prepare') Prepare PDF
										a.btn.btn-primary.ml-3(href='#') Generate PDF
						.card.w-50.my-3.mx-auto
							.card-body
								h5.card-title Part A
								h6.card-subtitle.mb-2.text-muted 
								| To be filled by 
								span.badge.badge-primary HOQ

								.row
									.col.m-1.d-flex.justify-content-center
										button.btn.btn-primary.custom-button(type='button', onclick='getSite("/form/details")') A1
									.col.m-1.d-flex.justify-content-center
										button.btn.btn-primary.custom-button(type='button', onclick='getSite("/form/iqac")') A2
					.card.w-50.mx-auto
						.card-body
							h5.card-title Part B
							if cookies.user.username == 'HOQ'
								h6.card-subtitle.mb-2.text-muted 
								| To be filled by 
								span.badge.badge-primary HOQ
								|  / 
								span.badge.badge-success DEPARTMENT
								form.form-inline
									.input-group.my-1
										.input-group-prepend
											span.input-group-text Department
										select#department_select.form-control
											each val in ['HOQ', 'ATM', 'BTC', 'CHE', 'CSE', 'CVE', 'ECE', 'EEE', 'IT', 'MAR', 'MEC']
												option= val
								br
							else
								h6.card-subtitle.mb-2.text-muted To be filled by 
									span.badge.badge-success DEPARTMENT
							.row
								.col.m-1.d-flex.justify-content-center.hoq-only
									button.btn.btn-primary.custom-button.hoq-only(type='button', onclick='getSite("/form/criterion1")') Criterion 1
								.col.m-1.d-flex.justify-content-center
									button.btn.btn-primary.custom-button(type='button', onclick='getSite("/form/criterion2")') Criterion 2
								.col.m-1.d-flex.justify-content-center
									button.btn.btn-primary.custom-button(type='button', onclick='getSite("/form/criterion3")') Criterion 3
								.col.m-1.d-flex.justify-content-center
									button.btn.btn-primary.custom-button(type='button', onclick='getSite("/form/criterion4")') Criterion 4
								.col.m-1.d-flex.justify-content-center
									button.btn.btn-primary.custom-button(type='button', onclick='getSite("/form/criterion5")') Criterion 5
								.col.m-1.d-flex.justify-content-center.hoq-only
									button.btn.btn-primary.custom-button.hoq-only(type='button', onclick='getSite("/form/criterion6")') Criterion 6
								.col.m-1.d-flex.justify-content-center.hoq-only
									button.btn.btn-primary.custom-button.hoq-only(type='button', onclick='getSite("/form/criterion7")') Criterion 7
								.col.m-1.d-flex.justify-content-center.hoq-only
									button.btn.btn-primary.custom-button.hoq-only(type='button', onclick='getSite("/form/criterion8")') Conclusion
					if cookies.user.username != 'HOQ'
						.card.w-50.mx-auto.my-3
							.card-body
								h5.card-title Submit Documents
								h6.card-subtitle.mb-2.text-muted 
									| Submit to handover documents to the 
									span.badge.badge-primary HOQ
									| . Once documents have been submitted, the 
									span.badge.badge-success DEPARTMENT
									|  cannot edit the documents anymore.
								.row
									.col.m-1.d-flex.justify-content-center
										a.btn.btn-success.btn-block.mx-5.my-3(href='/dashboard/submit/' + cookies.user.username) SUBMIT DOCUMENTS

			form(action='#')
				each val in ['ATM', 'BTC', 'CHE', 'CSE', 'CVE', 'ECE', 'EEE', 'IT', 'MAR', 'MEC', 'HOQ']
					if cookies.user.username == val
						input#dept_cookie(type='hidden', name='dept', value=val)
		script(src='/js/dashboard.js')
