html(lang="en")
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Dashboard
		link(rel='stylesheet', href='css/dashboard.css')
		link(rel='stylesheet', href='css/bootstrap.css')
	body
		.container-fluid.h-100
			nav.navbar.navbar-light(style='background-color: #e3f2fd;')
				span.navbar-brand.mb-0.h1 IQAC Dashboard - #{cookies.user.username}
				a.navbar-brand(href='/home') Logout
			.row.my-4
				.col
					if cookies.user.username == 'HOQ'
						.card.w-50.mx-auto
							.card-body
								h5.card-title HOQ Options
								ul.list-group.list-group-flush
									li.list-group-item.text-center
										a.btn.btn-primary.mr-3(href='/dashboard/prepare') Prepare PDF
										a.btn.btn-primary.ml-3(href='#') Generate PDF
						.card.w-50.my-3.mx-auto
							.card-body
								h5.card-title Part A
								h6.card-subtitle.mb-2.text-muted To be filled by HOQ
								.row
									.col.m-1.d-flex.justify-content-center
										button.btn.btn-primary.custom-button(type='button', onclick='getSite("/form/details")') A1
									.col.m-1.d-flex.justify-content-center
										button.btn.btn-primary.custom-button(type='button', onclick='getSite("/form/iqac")') A2
					.card.w-50.mx-auto
						.card-body
							h5.card-title Part B
							if cookies.user.username == 'HOQ'
								h6.card-subtitle.mb-2.text-muted To be filled by Department / HOQ
								form.form-inline
									.input-group
										.input-group-prepend
											span.input-group-text Department
										select#department_select.form-control
											each val in ['ATM', 'BTC', 'CHE', 'CSE', 'CVE', 'ECE', 'EEE', 'IT', 'MAR', 'MEC', 'HOQ']
												option= val
							else
								h6.card-subtitle.mb-2.text-muted To be filled by Department
							.row
								.col-12.m-1.d-flex.justify-content-center
								if cookies.user.username == 'HOQ'
									.col.m-1.d-flex.justify-content-center
										button.btn.btn-primary.custom-button(type='button', onclick='getSite("/form/criterion1")') Criterion 1
								.col.m-1.d-flex.justify-content-center
									button.btn.btn-primary.custom-button(type='button', onclick='getSite("/form/criterion2")') Criterion 2
								.col.m-1.d-flex.justify-content-center
									button.btn.btn-primary.custom-button(type='button', onclick='getSite("/form/criterion3")') Criterion 3
								.col.m-1.d-flex.justify-content-center
									button.btn.btn-primary.custom-button(type='button', onclick='getSite("/form/criterion4")') Criterion 4
								.col.m-1.d-flex.justify-content-center
									button.btn.btn-primary.custom-button(type='button', onclick='getSite("/form/criterion5")') Criterion 5
								if cookies.user.username == 'HOQ'
									.col.m-1.d-flex.justify-content-center
										button.btn.btn-primary.custom-button(type='button', onclick='getSite("/form/criterion6")') Criterion 6
									.col.m-1.d-flex.justify-content-center
										button.btn.btn-primary.custom-button(type='button', onclick='getSite("/form/criterion7")') Criterion 7
									.col.m-1.d-flex.justify-content-center
										button.btn.btn-primary.custom-button(type='button', onclick='getSite("/form/criterion8")') Conclusion
			form(action='#')
				each val in ['ATM', 'BTC', 'CHE', 'CSE', 'CVE', 'ECE', 'EEE', 'IT', 'MAR', 'MEC', 'HOQ']
					if cookies.user.username == val
						input#dept_cookie(type='hidden', name='dept', value=val)
			div.botnav(style='background-color: #e3f2fd;')
		script(src='/js/dashboard.js')
