doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Login In
    link(rel='stylesheet', href='/css/normalize.min.css')
    link(rel='stylesheet', href='css/login.css')
  body
    form(action='/login/register', method='post')
      h1 Register
      fieldset
        label User
        select(name='username')
          option(value='cse') CSE
          option(value='ece') ECE
          option(value='che') CHE
          option(value='btc') BTC
          option(value='mec') MEC
          option(value='hoq') HOQ
        label Password
        input#password(type='password', name='userpass')
        label Retype Password
        input#repassword(type='password', name='reuserpass')
      button(type='submit') Register
