form {
	margin-bottom: 0em;
}
.custom-button {
    	width: 350px !important;
}
.fill {
	max-height: 100%;
    	height: 100%;
}
.botnav {
	min-width: 98%;
	min-height: 6%;
	position: absolute;
    bottom: 0px;
}