html{
	min-height: 100%;
	min-width: 100%;
}
body {
	padding: 20px;
	background: #56CCF2;
  	background: -webkit-linear-gradient(to top, #2F80ED, #56CCF2);
  	background: linear-gradient(to top, #2F80ED, #56CCF2);
}

.wrapper {
	display: grid;
	grid-template-areas:
		"left login right"
		"left contact right";
	grid-gap: 25px;
	color: #444;
	height: 100%;
	grid-template-columns: 33% 32% 33%;
}

.left {
	grid-area: left;
}

.left > * {
	text-align: center;
}

.login {
	grid-area: login;
}

.login > * {
	text-align: center;
}

.right {
	grid-area: right;
}

.right > * {
	text-align: center;
}

.contact {
	grid-area: contact;
}

.contact > * {
	text-align: center;
}

.box {
	background-color: rgba(20, 20, 20, .7);
	color: #fff;
	/* border-radius: 20px; */
	padding: 20px;
	font-size: 150%;
	box-shadow: 3px 5px 10px 5px rgba(0, 0, 0, .4);
}

.box > p {
	font-size: 0.5em;
}

img {
	height: 250px;
	width: 250px;
	margin: auto;
}

h1 {
	font-family: 'Arvo', serif;
	font-weight: 700;
}

h3 {
	font-family: 'Arvo', serif;
  font-size: 30px;
	font-weight: 700;
}

h5 {
	font-family: 'Arvo', serif;
  font-size: 24px;
	font-weight: 700;
}

.pass {
	font-family: 'Arvo', serif;
	font-size: 16px;
}

/*login css*/

.inputFields {
	margin: 15px 0;
	font-size: 16px;
	padding: 10px;
	width: 250px;
	border: 1px solid #56CCF2;
	border-top: none;
	border-left: none;
	border-right: none;
	background: rgba(20, 20, 20, .2);
	color: white;
	outline: none;
}

.noBullet {
	list-style-type: none;
	padding: 0;
}

#login-btn {
	border: 1px solid #56CCF2;
	background: rgba(20, 20, 20, .6);
	font-size: 18px;
	color: white;
	margin-top: 20px;
	padding: 10px 50px;
	cursor: pointer;
	transition: .4s;
}

#login-btn:hover {
	background: #56CCF2;
	padding: 10px 80px;
}
