doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title IQAC AQAR
    link(rel='stylesheet', href='/css/dashboard.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/normalize.min.css')
    link(rel='stylesheet', href='/css/form.css')
    script.
      var username='#{cookies.user.username}';
  body
    .container-fluid.h-100
      nav.navbar.navbar-light.fixed-top(style='background-color: #e3f2fd;')
        span.navbar-brand.mb-0.h1 IQAC Criterion 8 - #{cookies.user.username}
        if cookies.user.username == 'HOQ'
          span.navbar-brand.mb-0.h1 #{cookies.department}
        a.navbar-brand(href='/home') Logout
      .row.my-4
        .col
          form(action='/form/criterion8', method='POST')
            legend
              span.number 8
              | Plans of institution for next year
            label Plan Details:
            input(type='text', name='form.plans_of_institution_next_year', value=form.plans_of_institution_next_year)
            button.fixed-but(type='submit') SAVE
        //-script(src='/js/form.js')
