html, body {
  background: #f1f1f1;
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  color: #fff;
}
.full-page{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background: url("../RES/ep_naturalblack.png") center repeat;
}
.left-contain{
  height: 100%;
  width: 33.33%;
  float: left;
}
.cen-contain{
  height: 100%;
  width: 33.33%;
  margin: 0 auto;
}
.right-contain{
  height: 100%;
  width: 33.33%;
  float: right;
}
.bot-cen{
  height: 40%;
  width: 100%;
}
.top-cen{
  height: 10%;
  width: 100%;
}
.mid-cen{
  height: 50%;
  width: 100%;
}




@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700,300);
body {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
body a {
  text-decoration: none;
  color: white;
}
body .container {
  height: 100%;
  width: 100%;
  margin: auto;
}
body .container .card {
  width: 95%;
  display: inline-block;
  transform: scale(0);
  text-align: center;
  position: relative;
  transition: all 0.2s;
  cursor: pointer;
  height: 95%;
  border-radius: 14px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 25px;
}
body .container .card-left{
  margin: 0 auto;
  display: inline-block;
  margin-left: 30px;
  transform: scale(0);
  text-align: center;
  position: relative;
  transition: all 0.2s;
  cursor: pointer;
  height: 100%;
  border-radius: 14px;
}
body .container .card {
  animation: intro 1s 0.2s forwards;
}
body .container .card {
  background: -webkit-linear-gradient(45deg, #c96881 0%, #f7b695 100%);
}
/*body .container .card:nth-of-type(2) {
  background: -webkit-linear-gradient(45deg, #6b6ecc 0%, #89bfdf 100%);
}
body .container .card:nth-of-type(3) {
  background: -webkit-linear-gradient(45deg, #81b77b 0%, #a3e3c3 100%);
}*/
body .container .card:hover .card_inner__header img {
  left: -50px;
  transition: all 3.4s linear;
}
body .container .card .card_inner__circle img {
  top: 22px;
  left: 1px;
}
body .container .card:hover {
  opacity: 1;
}
body .container .card_inner__circle {
  overflow: hidden;
  width: 70px;
  position: absolute;
  background: #f1f0ed;
  z-index: 10;
  height: 70px;
  border-radius: 100px;
  left: 0;
  box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.28);
  right: 0;
  margin: auto;
  border: 4px solid #fff;
  top: 82px;
}
body .container .card_inner__circle img {
  height: 26px;
  position: relative;
  top: 17px;
  transition: all 0.2s;
}
body .container .card_inner__header {
  height: 120px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  overflow: hidden;
}
body .container .card_inner__header img {
  width: 120%;
  position: relative;
  top: -30px;
  left: 0;
  transition: all 0.1s linear;
}
body .container .card_inner__content {
  padding: 20px;
}
body .container .card_inner__content .text {
  color: rgba(255, 255, 255, 0.60);
  font-weight: 100;
  margin-top: 20px;
  font-size: 13px;
  line-height: 16px;
}
body .container .card_inner__content .title {
  font-weight: 800;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.64);
  margin-top: 40px;
  font-size: 25px;
  letter-spacing: 1px;
}
body .container .card_inner__cta {
  position: absolute;
  bottom: -24px;
  left: 0;
  right: 0;
  margin: auto;
  width: 200px;
}
@keyframes intro {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(1.06);
  }
  50% {
    transform: scale(0.965);
  }
  75% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

/*card for center div*/

body .container .card2 {
  width: 100%;
  display: inline-block;
  transform: scale(0);
  text-align: center;
  position: relative;
  transition: all 0.2s;
  cursor: pointer;
  height: 88%;
  border-radius: 14px;
}
body .container .card2 {
  animation: intro 1s 0.3s forwards;
}
body .container .card2 {
  background: -webkit-linear-gradient(45deg, #6b6ecc 0%, #89bfdf 100%);
}
/*body .container .card:nth-of-type(2) {
  background: -webkit-linear-gradient(45deg, #6b6ecc 0%, #89bfdf 100%);
}
body .container .card:nth-of-type(3) {
  background: -webkit-linear-gradient(45deg, #81b77b 0%, #a3e3c3 100%);
}*/
body .container .card2:hover .card_inner__header img {
  left: -50px;
  transition: all 3.4s linear;
}
body .container .card2 .card_inner__circle img {
  top: 22px;
  left: 1px;
}
body .container .card2:hover {
  opacity: 1;
}
body .container .card_inner__circle {
  overflow: hidden;
  width: 70px;
  position: absolute;
  background: #f1f0ed;
  z-index: 10;
  height: 70px;
  border-radius: 100px;
  left: 0;
  box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.28);
  right: 0;
  margin: auto;
  border: 4px solid #fff;
  top: 82px;
}
body .container .card_inner__circle img {
  height: 26px;
  position: relative;
  top: 17px;
  transition: all 0.2s;
}
body .container .card_inner__header {
  height: 120px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  overflow: hidden;
}
body .container .card_inner__header img {
  width: 120%;
  position: relative;
  top: -30px;
  left: 0;
  transition: all 0.1s linear;
}
body .container .card_inner__content {
  padding: 20px;
}
body .container .card_inner__content .text {
  color: rgba(255, 255, 255, 0.60);
  font-weight: 100;
  margin-top: 20px;
  font-size: 13px;
  line-height: 16px;
}
body .container .card_inner__content .title {
  font-weight: 800;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.64);
  margin-top: 40px;
  font-size: 25px;
  letter-spacing: 1px;
}
body .container .card_inner__cta {
  position: absolute;
  bottom: -24px;
  left: 0;
  right: 0;
  margin: auto;
  width: 200px;
}


/*LOGIN*/
.select_style
{
	background: #FFF;
	overflow: hidden;
	display: inline-block;
	color: #525252;
	font-weight: 300;
	-webkit-border-radius: 5px 4px 4px 5px/5px 5px 4px 4px;
	-moz-border-radius: 5px 4px 4px 5px/5px 5px 4px 4px;
	border-radius: 5px 4px 4px 5px/5px 5px 4px 4px;
	-webkit-box-shadow: 0 0 5px rgba(123, 123, 123, 0.2);
	-moz-box-shadow: 0 0 5px rgba(123,123,123,.2);
	box-shadow: 0 0 5px rgba(123, 123, 123, 0.2);
	border: solid 1px #DADADA;
	font-family: "helvetica neue",arial;
	position: relative;
	cursor: pointer;
	padding-right:20px;

}
.select_style select
{
	-webkit-appearance: none;
	appearance:none;
	width:120%;
	background:none;
	background:transparent;
	border:none;
	outline:none;
	cursor:pointer;
	padding:7px 10px;
}
